<div>
  <div>
    <h1>
      List of all restaurants
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new restaurant
    </h2>

    <form action="/insert_restaurant" method="post">
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="name">
      </div>

      <div>
        <label for="owner_id_box">
          Owner
        </label>

        <input type="text" id="owner_id_box" name="owner_id">
      </div>

      <div>
        <label for="image_box">
          Image
        </label>

        <input type="text" id="image_box" name="image">
      </div>

      <div>
        <label for="burritos_count_box">
          Burritos count
        </label>

        <input type="text" id="burritos_count_box" name="burritos_count">
      </div>

      <button>
        Create restaurant
      </button>
    </form>
  </div>
</div>

<br>
<% @list_of_restaurants.each do |restaurant| %>
  <div class="row mb-4">
    <div class="col-md-6 offset-md-3">
      <%= render "restaurants/restaurant", restaurant: restaurant %>
    </div>
  </div>
<% end %>
