<br>
<% @current_user.recommendation.each do |burrito| %>
  <div class="row mb-4">
    <div class="col-md-6 offset-md-3">
      <%= render "burritos/burrito", burrito: burrito %>
    </div>
  </div>
<% end %>