<h1>Sign up</h1>

<form action="/insert_user" method="post">

  <div>
    <label for="email_box">Email</label>
    <input id="email_box" name="email" placeholder="Choose a email..." type="text">
  </div>
                 
  <div>
    <label for="user_type_box">User type</label>
      
    <input type="text" id="user_type_box" name="user_type">
  </div>
         
  <div>
    <label for="name_box">Name</label>
      
    <input type="text" id="name_box" name="name">
  </div>
         
  <div>
    <label for="avatar_box">Avatar</label>
      
    <input type="text" id="avatar_box" name="avatar">
  </div>
         
  <div>
    <label for="burritos_count_box">Burritos count</label>
      
    <input type="text" id="burritos_count_box" name="burritos_count">
  </div>
         
  <div>
    <label for="ratings_count_box">Ratings count</label>
      
    <input type="text" id="ratings_count_box" name="ratings_count">
  </div>
         
  <div>
    <label for="restaurants_count_box">Restaurants count</label>
      
    <input type="text" id="restaurants_count_box" name="restaurants_count">
  </div>
    
  <div>
    <label for="password_box">Password</label>
    <input id="password_box" name="password" placeholder="Choose a password..." type="password">
  </div>

  <div>
    <label for="password_confirmation_box">Password Confirmation</label>
    <input id="password_confirmation_box" name="password_confirmation" placeholder="Confirm your password..." type="password">
  </div>

  <button>
    Sign up
  </button>
</form>

<hr>

<p>
  Or, <a href="/user_sign_in">Sign in</a> instead.
</p>
